In [1]:
from lib.transform import ARBalanceListing
test = ARBalanceListing(r"C:\Users\tomda\OneDrive\Desktop\Python\Source ACS\AR_Balance_Listing").process_files()
test.head()

  ClientIdSubId TransactionDate     Type TransNumber AppliedNumber   Amount
0     000000146      2024-02-01  Invoice      242986        242986  2008.24
1     000000146      2023-05-04  Invoice      240023        240023     1350
2     000000146      2024-05-01  Invoice      244421        244421     1350
3     000000146      2022-09-28  Invoice      236102        236102     1200
4     000000146      2024-03-07  Payment        None        242986  -201.25